@model IEnumerable<H5ServersideProgrammering.Areas.TodoList.Models.ToDoList>

@{ ViewData["Title"] = "Index"; }

<h1>Du har ikke adgang</h1>

<form asp-action="Delete">
    <a asp-action="Index">Back to List</a>
</form>
