@model IEnumerable<H5ServersideProgrammering.Areas.TodoList.Models.ToDoList>

@{ ViewData["Title"] = "Index"; }


<h1>   Her er det meningen man skal kunne tilføje ting til en liste   </h1>
<h1>   kunne ikke nå at lave den del   </h1>
